@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@300;400;600;700&family=Roboto:wght@300&display=swap');

.modal-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
}
.modal {
    position: relative;
    width: 560px;
    height: auto;
    padding: 56px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}
.modal-image {
    padding-bottom: 70px;
}
.modal-header {
    padding-bottom: 40px;
    font-weight: 400px;
    font-family: 'Inter', sans-serif;
    text-transform: capitalize;
    line-height: 39px;
    font-size: 32px;
}
.modal-body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 18.75px;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
}
.modal-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-top: 20px;
}
.modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    border: none;
    background-color: initial;
}