.button {
    width: 300px;
    height: auto;
    border-radius: 8px;
    background-color: rgba(138, 51, 253, 1);
    border: 2px solid rgba(138, 51, 253, 1);
    color: white;
    font-size: 16px;
    padding: 25px 30px;
    text-transform: uppercase;

    &:hover {
        cursor: pointer;
        background-color: white;
        color: rgba(138, 51, 253, 1);
        border: 2px solid darkgray;
    }
}
.btn-img {
    width: 40%;
    padding: 15px 30px;
    margin: 0 auto;
}